<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input type="email" name="username" [(ngModel)]="username" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Contraseña</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password" ></ion-input>
        </ion-item>

        <ion-button expand="full" color="primary" (click)="login()">Iniciar Sesión</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>

