<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button *ngFor="let vista of model[0].item" expand="full" fill="clear" [routerLink]="vista.routerLink" routerDirection="root">
      <ion-icon name="document-text" size="large"></ion-icon>
      {{vista.label}}
    </ion-button>
  </div>

</ion-content>
