<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      HealtPrescribe
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content [fullscreen]="true">-->
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Menu</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

<!--  <div id="container">-->
<!--    {{model[0].label}}-->
<!--    <ion-button *ngFor="let vista of model[0].items" expand="full" fill="clear" [routerLink]="vista.routerLink" routerDirection="root">-->
<!--      <ion-icon name="document-text" size="large"></ion-icon>-->
<!--      {{vista.label}}-->
<!--    </ion-button>-->
<!--  </div>-->

<!--</ion-content>-->
<!--side="start" inicia el menu expandido -->
<ion-menu  contentId="main-content">
  <ion-content>
    <ion-card class="menu-card margin-zero">
      <div class="background-image"></div>
      <ion-card-header>
        <ion-avatar class="avatar-container">
          <ion-img src="/assets/avatar_girl.png"></ion-img>
        </ion-avatar>
        <ion-card-title>{{ obtenerNombrePesona() }}</ion-card-title>
        <ion-card-subtitle color="dark">{{ model[0].label }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-list>
      <ion-item *ngFor="let vista of model[0].items" (click)="navigateTo(vista.routerLink[0])">
        <ion-icon name="{{vista.icon}}"></ion-icon>
        <ion-label> {{vista.label}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-list>
      <ion-item class="cerrar-sesion" (click)="cerrarSession()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
