/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

//
//.my-toast {
//  background-color: lightgreen;
//  color: white;
//}

ion-content {
  height: 100vh;
}

.margin-zero {
  margin: 0px!important;
}


.menu-card {
  //background-color: #f4f4f4; /* Cambia el color de fondo a tu preferencia */
  margin-bottom: 10px; /* Agrega margen inferior para separarlo del listado */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/shapes.svg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  opacity: 0.25; /* Ajusta la opacidad de la imagen según tus preferencias */
  z-index: -1; /* Coloca la imagen de fondo detrás del contenido del card */
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; /* Color de fondo del avatar */
  width: 100px; /* Ajusta el ancho según tus necesidades */
  height: 100px; /* Ajusta la altura según tus necesidades */
  border-radius: 50%; /* Hace que el avatar sea circular */
  overflow: hidden;
  margin: 0 auto; /* Centra el avatar horizontalmente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega sombra */
}
.centered-card {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  //height: 100%; /* Opcional: ajusta la altura del card */
}


.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 10px;
  //background-color: #f0f0f0;
}

ion-icon {
  font-size: 20px;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
