<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventario"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Medicamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar Medicamento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre del Medicamento</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Concentración</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Laboratorio</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Proveedor</ion-label>
      <ion-input ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" [routerLink]="'/inventario'">Agregar</ion-button>
</ion-content>
