<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="full" fill="clear" [routerLink]="'/generar-receta'" routerDirection="root">
      <ion-icon name="create" size="large"></ion-icon>
      Generar Receta
    </ion-button>
    <ion-button expand="full" fill="clear" [routerLink]="'/mostrar-receta'" routerDirection="root">
      <ion-icon name="document-text" size="large"></ion-icon>
      Mostrar Receta
    </ion-button>
    <ion-button expand="full" fill="clear" [routerLink]="'/inventario'" routerDirection="root">
      <ion-icon name="list" size="large"></ion-icon>
      Inventario
    </ion-button>
    <ion-button expand="full" fill="clear" [routerLink]="'/entregar-receta'" routerDirection="root">
      <ion-icon name="paper-plane" size="large"></ion-icon>
      Entregar Receta
    </ion-button>
  </div>
  
</ion-content>
